.Pokemon {
  transition: transform 0.2s ease;
}
.Pokemon:hover {
  transform: scale(1.02) translate(0, -3px);
  transition: all 0.3s ease-in-out 0s;
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}
